body {
    margin: 0;
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 700

    .josefin-sans-<uniquifier> {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }

}

h1 {
    font-size: 50px;

}

.color {
    color: blue;
}

h2 {
    color: rgb(81, 73, 44);
    font-size: 30px;
}

p {
    font-size: 30px;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.second-flex {
    margin-bottom: 100px;
    background-color: cornflowerblue;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 400px;
    border-radius: 70px;
    padding: 50px 40px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(darkblue, white);
    padding: 10px 40px;
    border-radius: 5px;
    color: lightblue;
    font-weight: 700;
}

.first-section {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
}

.second-section {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
}

.first {
    padding-left: 30px;
}


.experience-firstitem {
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 20px 30px skyblue;
    margin: 10px 20px;
    border-radius: 20px;
    background-image: url(image/background\(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.experience-seconditem {
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 20px 30px skyblue;
    margin: 10px 20px;
    background-image: url(image/background\(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}